<div class="open-block">
  <div class="header">
    <h5>@@modulCount модуль</h5>
    <p>@@lessonsCount занятий</p>
  </div>
  <div class="open-block-main">
    <div class="title">
      <p>@@title</p>
      <span class="program__open"></span>
      <span class="dot-line"></span>
    </div>
    <div class="open-block-content">
      <ul class="program-open-lists">
        @@for (var i = 0; i < lessonsName.length; i++) {
        <li><span> `+[i+1]+"."+`</span>`+lessonsName[i]+`</li>
        }
      </ul>
    </div>
  </div>
</div>
