.course-for {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      max-width: 727px;
    }
    @media screen and (min-width: 1210px) {
      max-width: 1169px;
    }
    h2 {
      margin: 0 10px 20px;
      @media screen and (min-width: 768px) {
        margin: 0 0 45px;
        text-align: start;
        align-self: flex-start;
      }
      @media screen and (min-width: 1210px) {
        margin: 0 0 27px;
      }
    }
    h4 {
      text-transform: none;
      @media screen and (min-width: 576px) {
        @include font(700, 2.2rem, 33px);
      }
      @media screen and (min-width: 768px) {
        text-align: start;
        margin-bottom: 25px;
      }
      @media screen and (min-width: 1210px) {
        max-width: 409px;
        margin-bottom: 5px;
        @media screen and (min-width: 1210px) {
          @include font(700, 2.5rem, 38px);
        }
        &.course-second__h4 {
          margin-bottom: 14px;
          max-width: 463px;
        }
      }
    }
    .course-for__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content-text {
        p {
          margin: 15px 2px;
          line-height: 24px;
        }
      }
      .grid-div-5 {
        display: none;
      }
      @media screen and (min-width: 768px) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 350px 350px;
        grid-template-rows: 300px 5px 5px 300px;

        gap: 0px 27px;
        grid-template-areas:
          "grid-div-1 grid-div-2"
          "grid-div-4 grid-div-2"
          "grid-div-4 grid-div-2"
          "grid-div-4 grid-div-3";
        width: 727px;
        height: 610px;
        .grid-div-1 {
          grid-area: grid-div-1;
          align-self: flex-start;
        }
        .grid-div-2 {
          grid-area: grid-div-2;
        }
        .grid-div-3 {
          grid-area: grid-div-3;
          align-self: flex-end;
        }
        .grid-div-4 {
          grid-area: grid-div-4;
        }
        .grid-div-5 {
          grid-area: grid-div-5;
        }
        .content-text {
          text-align: start;
          p {
            margin: 0;
            line-height: 27px;
          }
        }
        .content-photo__wrapper {
          max-width: 350px;
          width: 100%;
          height: 310px;
          margin-bottom: 0;
          .content-photo {
            top: 0;
            width: unset;
            height: 310px;
          }
          &.last {
            margin-bottom: 0;

            .content-photo {
              top: -114px;
              width: 100%;
              height: unset;
            }
          }
        }
      }
      @media screen and (min-width: 1210px) {
        grid-template-columns: 468px 476px 175px;
        grid-template-rows: 241px 179px 241px;
        gap: 0px 25px;
        grid-template-areas:
          "grid-div-1 grid-div-2 grid-div-5"
          "grid-div-4 grid-div-2 grid-div-5"
          "grid-div-4 grid-div-3 grid-div-5";
        width: 1769px;
        height: 661px;
        .grid-div-1 {
          grid-area: grid-div-1;
          align-self: flex-start;
        }
        .grid-div-3 {
          grid-area: grid-div-3;
          align-self: flex-end;
        }
        .grid-div-5 {
          display: block;
          background: right 0 top -15px / 130px 655px no-repeat url(../img/for-who.svg);
          height: 100%;
        }
        .content-photo__wrapper {
          max-width: unset;
          width: 100%;
          height: 420px;
          .content-photo {
            top: 0;
            width: unset;
            height: unset;
          }
          &.last {
            margin-bottom: 0;

            .content-photo {
              top: -130px;
              width: 100%;
              height: unset;
            }
          }
        }
        .grid-div-2 {
          max-width: 476px;
          .content-photo {
            height: 420px;
          }
        }
        .grid-div-4 {
          max-width: 468px;
        }
      }
    }
  }
  padding: 0 19.5px 0;
  @media screen and (min-width: 768px) {
    padding: 0 19.5px 0;
  }
  @media screen and (min-width: 1210px) {
    padding: 0 19.5px 0;
  }
}
