.faq-block {
  padding: 0 19.5px 40px;

  @media screen and (min-width: 768px) {
    padding: 0 19.5px 28px;
  }
  .container {
    max-width: 970px;
    .faq-container {
      overflow: hidden;
      margin-bottom: 38px;
      padding: 50px 20px;
      border-radius: 34.63px;
      position: relative;
      @media screen and (min-width: 768px) {
        margin-bottom: 49px;
      }
      .back {
        position: absolute;

        z-index: 50;
        @include absoluteCenter((-50%, -50%));
        &.opacity {
          z-index: 49;
          opacity: 7%;
          width: 2458px;
          top: 531px;
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
      .header {
        position: relative;
        z-index: 90;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        picture {
          display: flex;
          align-items: center;
        }
        @media screen and (min-width: 768px) {
          h2 {
            margin-bottom: 0 !important;
          }
        }
      }
      .qwestions {
        position: relative;
        z-index: 90;
        .faq-open-block {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          .title {
            padding: 0px;
            padding-bottom: 15px;
          }
          .text {
            padding: 15px 0;
          }
        }
      }
    }
    .play__container {
      transform-origin: center;
      width: 99px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 100;
      .play {
        transform-origin: 50% 50%;
        transform: rotate(0);
        display: flex;
        justify-content: center;
        align-items: center;
        picture {
          display: flex;
          justify-content: center;
          align-items: center;
          .play__image {
            position: relative;
            transform: rotate(0);
            z-index: 99;
          }
        }
        &::before {
          transform-origin: center;
          transition: transform 0.5s;
          background: linear-gradient(
            203.36deg,
            #005a19 8.21%,
            #005a19 9.02%,
            rgba(0, 0, 0, 0.37) 42.79%,
            #005a19 68.24%
          );
        }
      }
      @media screen and (min-width: 1470px) {
        bottom: 171px;
        right: 18px;
        position: fixed;
      }
      &:hover {
        .play {
          &::before {
            transform-origin: center;

            transform: translate(-50%, -50%) rotate(-180deg);
          }
        }
      }
    }
  }
}
