.header-block {
  width: 100%;
  padding-top: 22px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  .container {
    transition: none;
    position: relative;
    .prof__back-left {
      top: -336px;
      left: -336px;
    }
    .prof__back-right {
      right: -336px;
      bottom: 180px;
      display: none;
    }
    .heaed-back {
      position: absolute;
      top: 45%;
      left: 128%;
      transform: translate(-50%, -50%) rotate(180deg);
      width: 1500px;
      opacity: 4%;
    }
    .offer {
      position: relative;
      z-index: 98;
      .proffesion-button__container {
        width: 100%;
        .profession {
          width: 171px;
          height: 44px;
          position: relative;
          z-index: 1;
          margin: auto;
          .proffession__back {
            @include button(
              171px,
              none,
              5px,
              $blur-border-blue,
              blur(6px),
              44px
            );
            @include absoluteCenter((-50%, -50%));
            z-index: 2;
          }
          .proffession__border {
            @include button(171px, none, 5px, $border-blue, none, 44px);
            @include absoluteCenter((-50%, -50%));
            color: #fff;
            @include font(400, 1.6rem, 1.1875em);
            font-family: $play;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
          }
        }
        picture {
          display: none;
          .profession__chose {
            margin: auto;
          }
        }
        @media screen and (min-width: 768px) {
          display: flex;
          .profession {
            margin: 0;
            margin-right: auto;
          }
          picture {
            display: flex;
          }
        }
      }
      .header-block__h3 {
        line-height: 33.61px;
        margin: 0 26px;
        margin-bottom: 13px;
        @media screen and (min-width: 768px) {
          margin: 0 0 30px;
          max-width: 420px;
        }
        @media screen and (min-width: 1210px) {
          @include font(700, 3.5rem, 57px);
          max-width: 687px;
        }
      }
      .header-block__list {
        margin: 0 22px;
        li {
          padding-left: 24px;
          position: relative;
          &:not(:last-child) {
            padding-bottom: 15px;
          }
          @media screen and (min-width: 1210px) {
            @include font(400, 1.8rem, 27px);
          }
        }
        @media screen and (min-width: 768px) {
          margin: 0 0 40px;
          max-width: 420px;
        }
        @media screen and (min-width: 1210px) {
          margin: 0 0 52px;
          max-width: 503px;
        }
      }
      .header-block-image__wrapper {
        .header-block-image__container {
          position: relative;
          height: 329px;
          max-width: 250px;
          width: 100%;
          margin: 0 auto;
          .header-block-image-opacity {
            position: absolute;
            left: -15px;
            right: -15px;
            bottom: -75px;
            height: 100px;
            background: #000000;
            filter: blur(24px);
            opacity: 1;
            z-index: 6;
          }
          .header-block-image-opacity-back{
            position: absolute;
            top: -43px;
            width: 465px;
            left: 24px;
            height: 495px;
            background: #000;
            z-index: 4;
            filter: blur(78px);
            border-radius: 50%;
            display:block;
          }
          .header-block-image {
            position: absolute;
            height: 418px;
            @include absoluteCenter((-50%, 0));
            top: -54px;
            z-index: 5;
          }
          .play__container {
            position: absolute;
            width: 99px;
            height: 99px;
            top: 73px;
            left: 160px;
          }
        }
        @media screen and (min-width: 768px) {
          position: absolute;
          right: -69px;
          top: -7px;
          width: 388px;
          .header-block-image__container {
            width: 100%;
            max-width: 388px;
            height: 688px;
            .header-block-image-opacity {
              bottom: -7px;
            }
            .header-block-image {
              height: 688px;
            }
            .play__container {
              top: 163px;
              left: 221px;
            }
          }
        }
        @media screen and (min-width: 1210px) {
          right: -33px;
          top: 130px;
          width: 553px;
          .header-block-image__container {
            max-width: 553px;
            height: 688px;
            .header-block-image-opacity {
              bottom: -101px;
              filter: blur(23px);
            }
            .header-block-image-opacity-back{
              display: block;
            }
            .header-block-image {
              top: -248px;
              height: 992px;
            }
            .play__container {
              width: 147px;
              height: 147px;
              top: 93px;
              left: 358px;
              .play {
                width: 147px;
                height: 147px;
                &::before {
                  width: 147px;
                  height: 147px;
                }
                &::after {
                  width: 96px;
                  height: 96px;
                }
                img {
                  width: 27px;
                  height: 26px;
                }
              }
            }
          }
        }
      }

      .header-block__buttons {
        position: relative;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .button-green {
          margin-bottom: 10px;
        }
        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: flex-start;

          .button-green {
            margin-bottom: 0px;
            margin-right: 15px;
            max-width: 220px;
          }
          .button-transparent {
            max-width: 241px;
          }
        }
        @media screen and (min-width: 1210px) {
          .button-transparent {
            max-width: 282px;
          }
        }
      }
      @media screen and (min-width: 992px) {
        max-width: 727px;
        margin: 0 auto;
      }
    }

    .table {
      margin: 45px auto 0;
      max-width: 336px;
      transition: max-width 0.5s;
      width: 100%;
      position: relative;
      z-index: 99;
      tbody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 213px 145px;
        tr {
          display: flex;
          align-items: flex-start;
          border: 1px solid #294355;
          padding-left: 10px;
          padding-right: 10px;
          align-items: center;
          @media screen and (min-width: 768px) {
            padding-top: 30px;
            align-items: flex-start;
            padding-left: 35px;
          }
          &:first-child {
            border-radius: 10px 0px 0px 0px;
            background: center / cover url(../img/first-table-first-back.svg);
          }
          &:nth-child(2) {
            border-radius: 0px 10px 0px 0px;
            padding-left: 26px;
          }
          &:nth-child(4) {
            border-radius: 0px 0px 10px 0px;
            padding-left: 26px;
          }
          &:nth-child(3) {
            border-radius: 0px 0px 0px 10px;
          }

          td {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .head {
              @include font(400, 1.8rem, 26px);
              color: rgba(255, 255, 255, 0.6);
              &:not(.first-table-block) {
                margin-bottom: 12px;
              }
            }
            .under-header {
              @include font(700, 1.5rem, 24px);
              color: rgba(255, 255, 255, 1);
              margin: 5px 0 18px;
              @media screen and (min-width: 576px) {
                @include font(700, 2rem, 32px);
              }
            }
            .text {
              @include font(400, 1.6rem, 26px);
              color: rgba(255, 255, 255, 1);
              &.first-table-block {
                background: #031722;
                border-radius: 10px;
                padding: 14px;
              }
            }
          }
        }
      }
      @media screen and (min-width: 576px) {
        max-width: 540px;
      }
      @media screen and (min-width: 768px) {
        max-width: 727px;
      }
      @media screen and (min-width: 992px) {
        max-width: 960px;
      }
      @media screen and (min-width: 1210px) {
        margin: 140px auto 0 -2px;
        max-width: 1322px;
        tbody {
          grid-template-columns: 1fr 303px 302px 284px;
          grid-template-rows: 213px;
          tr {
            &:first-child {
              border-radius: 0;
              justify-content: flex-end;
              padding-right: 36px;
            }
            &:nth-child(2) {
              border-radius: 0;
              padding-left: 26px;
            }

            &:nth-child(3) {
              border-radius: 0;
            }
            &:nth-child(4) {
              border-radius: 0px 10px 10px 0px;
              padding-left: 26px;
              padding-right:50px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      .heaed-back {
        left: 63%;
      }
    }
  }
  @media screen and (min-width: 1210px) {
    padding: 40px 0 80px;
    .container {
      max-width: 1470px;
      margin: auto;
      transition: max-width 0.5s;
      .heaed-back {
        display: none;
      }
      .prof__back-right {
        display: block;
      }
      .offer {
        max-width: 1169px;
      }
    }
  }
}
