.review-block {
  .container {
    .head {
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
      .second__h2 {
        text-align: start;
        margin-bottom: 4px;
        max-width: 452px;
      }
      picture {
        margin-left: auto;
      }
      @media screen and (min-width: 576px) {
        flex-direction: row;
        align-items: flex-end;
      }
    }
    .review-container {
      margin-bottom: 35px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      overflow: hidden;
      height: 700px;
      transition: none;
      @media screen and (min-width: 576px){
        height: 535px;
      }
      @media screen and (min-width: 768px){
        height: 700px;

      }
      @media screen and (min-width: 992px){
        height: 597px;

      }
      @media screen and (min-width: 1210px){
        height: 700px;


      }
      .review {
        padding: 20px;
        padding-right: 8px;
        border-radius: 10px;
        border: 1px solid #294355;
        .header {
          display: flex;
          align-items: center;
          margin-bottom: 17px;
          img {
            width: 59px;
            height: 59px;
            border-radius: 50%;
            margin-right: 21px;
          }
          .header__text {
            a {
              @include font(400, 1.6rem, 26px);
              color: rgba(34, 230, 17, 0.71);
              text-decoration: underline;
            }
          }
        }
        .review__text {
          @include font(400, 1.6rem, 26px);
        }
      }
      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
        gap: 30px;
        justify-content: center;
        align-items: center;
        .review {
          margin-bottom: 0;
        }
      }
    }
    .button-transparent {
      max-width: 267px;
      margin: 0 auto;
    }
  }
}
